*{
    margin: 0;
    padding: 0;
}


.contenedor{
    background-color: rgb(44, 42, 42);
}

.container{
    background-color: burlywood;
    border-radius: 12px;
}

label{
    color: rgb(46, 44, 45);
}