<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/publico/css/anadir.css">
    <title>Añadir productos</title>
</head>
<body>
    <div class="container">  
        <form id="contact" action="" method="post">
          <CENTER>
            <h2>SISTEMA ABARROTERO</h2>
          <br>
          <fieldset>
            <input placeholder="Nombre del producto" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Cantidad" type="text" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Precio" type="text" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input placeholder="Marca" type="text" tabindex="4" required>
          </fieldset>
          <fieldset>
            <button name="Añadir" type="button" id="contact-submit" >AÑADIR</button>
          </fieldset>
          <fieldset>
            <a href="/menu">
            <button name="volver" type="button" id="contact-submit" >REGRESAR A MENU</button>
          </a>
          </fieldset>
        </form>
       
        
      </div>
</body>
</html>