<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Fact</title>
    <link rel="stylesheet" href="/publico/css/facturar2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="contenedor">
    <center>
        <h2>Bienvenido al sistema de facturación <br>
            Abarrotes Ideal</h2>
        <h3>Gracias por tu preferencia</h3>
        <h4>Tu factura será impresa<br></h4>
    </center>

    <div class="contenedor-1">
         <center>
            <a href="/menu">
        <button type="button" name="Eliminar" class="btn btn-primary mb-5" id="botones">MENU</button>
            </a>
        
        <a href="/login">
        <button type="button" name="Eliminar" class="btn btn-primary mb-5" id="botones">SALIR</button>
        </a>
    </center>
    </div>


    </div>
</body>

</html>