<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturacion</title>
    <link rel="stylesheet" href="##">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body class="contenedor">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>Formulario</h3>
                <hr>
                <form id="form">
                    <div class="mb-3">
                        <label for="curso" class="form-label">Turno</label>
                        <select class="form-select" id="turno">
                            <option value="">Seleccione una opción</option>
                            <option value="Matutino">Matutino</option>
                            <option value="Vespertino">Vespertino </option>
                        </select>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="col-md-6">
                            <label for="apellido" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="apellido">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" id="email">
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="direccion" class="form-label">Direccion</label>
                            <input type="text" class="form-control" id="direccion">
                        </div>
                        <div class="col-md-6">
                            <label for="telefono" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="telefono">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div>
                                <label for="" class="form-label">Producto</label>
                                <input type="text" class="form-control" id="producto-1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="CARNES" class="form-label">Cuantos?</label>
                                <input type="text" name="CARNES" id="cuantos-1" placeholder="">
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div>
                                <label for="" class="form-label">Producto</label>
                                <input type="text" class="form-control" id="producto-2">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="LACTEOS" class="form-label">¿Cuantos?</label>
                                <input type="text" name="LACTEOS" id="cuantos-2">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div>
                                <label for="" class="form-label">Producto</label>
                                <input type="text" class="form-control" id="producto-3">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="MISCELANEOS" class="form-label">Cuantos ?</label>
                                <input type="text" name="MISCELANEOS" id="cuantos-3" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div>
                                <label for="" class="form-label">Producto</label>
                                <input type="text" class="form-control" id="producto-4">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="HARINAS" class="form-label">Cuantos ?</label>
                                <input type="text" name="HARINAS" id="cuantos-4" placeholder="">
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mb-4" onclick="pdf()">Generar PDF</button>
                </form>
            </div>
        </div>
    </div>
    <div id="prueba">
        <a href="/google">Presioname</a>
    </div>
</body>
<script>
    function pdf(){
        const h1 = document.createElement("h1");
        h1.innerHTML="Hola Mundo"
        const url = "http://localhost:3000/";
        //alert('Entro al metodo PDF');
        let turno = document.getElementById('turno').value;
        let nombre = document.getElementById('nombre').value;
        let apellido = document.getElementById('apellido').value;
        let email = document.getElementById('email').value;
        let direccion = document.getElementById('direccion').value;
        let telefono = document.getElementById('telefono').value;

        let producto1 = document.getElementById('producto-1').value;
        let producto2 = document.getElementById('producto-2').value;
        let producto3 = document.getElementById('producto-3').value;
        let producto4 = document.getElementById('producto-4').value;

        let cantidad1 = document.getElementById('cuantos-1').value;
        let cantidad2 = document.getElementById('cuantos-2').value;
        let cantidad3 = document.getElementById('cuantos-3').value;
        let cantidad4 = document.getElementById('cuantos-4').value;

        fetch(`${url}facturar_api?turno=${turno}&&nombre=${nombre}&&apellido=${apellido}&&email=${email}&&direccion=${direccion}&&telefono=${telefono}
        &&producto1=${producto1}&&producto2=${producto2}&&producto3=${producto3}&&producto4=${producto4}&&cantidad1=${cantidad1}&&cantidad2=${cantidad2}
        &&cantidad3=${cantidad3}&&cantidad4=${cantidad4}`, {
        method: 'POST'
      })
        .then(res => res.json()
        )
        .then(response => {
            const status = response["status"]
            //const PDF = response["pdf"];
            if(status){
                window.location = '/menuAdministrador'
            }else{
                window.location = '/login'
            }
        })
        .catch(function (error) {
          console.log(error)
          window.location = '/'
        })
    }
</script>
</html>