<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/publico/css/inicio.css">
    <link rel="icon" href="/publico/imagenes/inicio/flor.svg">
</head>
<body>
    <header>
        <h1>
             Abarrotes Ideal
        </h1>
    </header>
    <main>
        <h2>La Mejor Tienda Que Podras Encontrar</h2>
        <div class="contenedorP">
            <div class="imagen"></div>
            <div class="textos">
                <div class="razones">
                    <h3>Productos de Calidad</h3>
                    <p>
                        Todos nuestros productos son de una calidad muy alta, si nuestro producto no tiene la calidad
                        que esperabas o que nuestro producto este en malas condiciones para un rembolso inmediato
                        y ese mismo producto se te regalara en buenas condiciones.
                    </p>
                </div>

                <div>
                    <h3>Promociones Todo El A単o</h3>
                    <p>
                        多Promociones por fin de a単o? 多Por navidad?
                        Con nosotros siempre hay promociones para concentirte como se debe.
                    </p>
                </div>

                <div>
                    <h3>Atencion de Calidad</h3>
                    <p>
                        Recibe la mejor atencion durante toda tu estadia en el tiempo, si necesitas ayuda
                        llama a un ayudante para que te ayude en todas tus necesidades.
                    </p>
                </div>

            </div>

        </div>
    </main>
</body>
<script>
    function time() {
        setTimeout(function () {
            window.location = '/login'
        }, 3000)
    }
    time();
</script>
</html>