<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="/publico/css/nosotros.css">
</head>

<body>
    <div class="col-xs-10 col-sm-0 col-md-0">
        <div class="container">
            <H3>GRACIAS POR CONFIAR EN NOSOTROS</H3>
            <form id="contact" action="" method="post">
                <div class="informacion">
                    <p>En un mundo tan acelerado como el que vivimos ahora es necesario siempre estar a la vanguardia.
                    </p>
                    <p>Abarrotes Ideal Web fue pensado con las mejores intenciones para lograr un avance tecnológico
                        significativo
                        en las actividades diarias de las personas que tienen negocios y necesitan de un proceso más
                        ágil
                        para llevar un control sistematizado de sus productos
                    </p>
                    <center><img src="/publico/imagenes/nosotros/flor.svg"></center>
                </div>
                    <a href="/menu">
                    <button name="volver" type="button" id="contact-submit" class="boton">REGRESAR A MENU</button>
                  </a>
            </form>

        </div>
    </div>

</body>

</html>