<!DOCTYPE html>
<html lang="es-mx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/publico/css/registro.css">
  <title>Registro</title>
</head>

<body>
  <div class="contenedor">
    <img src="/publico/imagenes/registro/logotipo.png" class="avatar" alt="Avatar Image">
    <h1>Registros</h1>
    <form action="/login" method="POST">
      <!-- INPUT  NOMBRE DE USUARIO-->
      <label for="username">Nombre de usuario</label>
      <input type="text" placeholder="Ingrese Nombre de usuario" name="user" id="nombre" required>

      <label for="username">Matricula</label>
      <input type="text" placeholder="Ingrese la Matricula que deseas tener" name="matricula" id="matricula" required>

      <!-- INPUT CONTRASEÑA -->
      <label for="password">Contraseña</label>
      <input type="number" placeholder="Ingrese Contraseña" name="pass" id="pass" required>
      <input type="button" onclick="registro()">
      <a href="#" onclick="prueba()">Olvidaste tu contraseña?</a>
    </form>
  </div>
</body>
<script>
  function prueba() {
    alert('Mensaje Provisional');
  }
  function registro() {
    const url = "http://localhost:3000/";
    alert('Metodo Registro')
    let nombre = document.getElementById('nombre').value;
    if (nombre == "") {
      nombre = "L"
    }
    alert(nombre)
    let matricula = document.getElementById('matricula').value;
    if (matricula == "") {
      matricula = 1
    }
    alert(matricula)
    alert('Paso')
    let pass = document.getElementById('pass').value;
    if (pass == "") {
      pass = 1
    }
    alert(pass)
    //&&matricula=${matricula}&&contrasena=${password}
    alert(`${url}registro_api?nombre=${nombre}&&matricula=${matricula}&&contrasena=${pass}`)
    fetch(`${url}registro_api?nombre=${nombre}&&matricula=${matricula}&&contrasena=${pass}`, {
      method: 'GET'
    })
      .then(res => res.json()
      )
      .then(response => {
        if (JSON.stringify(response.redirect != null && response.redirect != undefined)) {
          document.querySelector('#nombre').innerHTML = JSON.stringify(response.redirect[0].nombre)
          document.querySelector('#contra').innerHTML = JSON.stringify(response.redirect[0].matricula)
          document.querySelector('#pass').innerHTML = JSON.stringify(response.redirect[0].contrasena)
          //alert('Soy Verdadero')
          window.location = '/menu'
        } else {
          document.querySelector('#nombre').innerHTML = "No hay datos";
          //alert('Soy falso')
          window.location = '/'
        }
      })
      .catch(function (error) {
        console.log(error)
        //alert('Soy error')
        window.location = '/registro'
      })
  }
</script>
</html>