<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/publico/css/visualizar.css">
  <title>Document</title>
</head>

<body background="pink">
  <div class="table-container">
    <table class="table" id="table">
      <tr class="tr-head">
        <th class="column-fixed">id_almacen</th>
        <th class="column-margin">nombre</th>

        <th>cantidad</th>
        <th>precio</th>
        <th>marca</th>
      </tr>
    </table>
  </div>
</body>
<script>
  function visualizar() {
    const url = "http://localhost:3000/";
    fetch(`${url}visualizar_api?`, {
      method: 'POST'
    })
      .then(res => res.json()
      )
      .then(response => {
        const peso = response["peso"]
        const results = response["resultados"]
        for (let i = 0; i < peso; i++) {
          alert(results[i].id_almacen)
          alert(results[i].nombre)
          alert(results[i].cantidad)
          alert(results[i].precio)
          alert(results[i].marca)
        }
        let tupla = document.getElementById('table').insertRow(0)
        for (let i = 0; i < peso; i++) {
          let col1 = tupla.insertCell(0);
          let col2 = tupla.insertCell(1)
          let col3 = tupla.insertCell(2)
          let col4 = tupla.insertCell(3)
          let col5 = tupla.insertCell(4)

          col1.innerHTML = results[i].id_almacen
          col2.innerHTML = results[i].nombre
          col3.innerHTML = results[i].cantidad
          col4.innerHTML = results[i].precio
          col5.innerHTML = results[i].marca
        }
        //insertar(peso);
      })
      .catch(function (error) {
        alert('Falla en el sistema')
        console.log(error)
      })
  }
  visualizar();
</script>

</html>