<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/publico/css/visualizar.css">
  <title>Visualizar</title>
</head>
<script>
  function doSearch() {
    const tableReg = document.getElementById('table');
    const searchText = document.getElementById('searchTerm').value.toLowerCase();
    let total = 0;

    // Recorremos todas las filas con contenido de la tabla
    for (let i = 1; i < tableReg.rows.length; i++) {
      // Si el td tiene la clase "noSearch" no se busca en su cntenido
      if (tableReg.rows[i].classList.contains("noSearch")) {
        continue;
      }

      let found = false;
      const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
      // Recorremos todas las celdas
      for (let j = 0; j < cellsOfRow.length && !found; j++) {
        const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
        // Buscamos el texto en el contenido de la celda
        if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
          found = true;
          total++;
        }
      }
      if (found) {
        tableReg.rows[i].style.display = '';
      } else {
        // si no ha encontrado ninguna coincidencia, esconde la
        // fila de la tabla
        tableReg.rows[i].style.display = 'none';
      }
    }

    // mostramos las coincidencias
    const lastTR = tableReg.rows[tableReg.rows.length - 1];
    const td = lastTR.querySelector("td");
    lastTR.classList.remove("hide", "red");
    if (searchText == "") {
      lastTR.classList.add("hide");
    } else if (total) {
      td.innerHTML = "Se ha encontrado " + total + " coincidencia" + ((total > 1) ? "s" : "");
    } else {
      lastTR.classList.add("red");
      td.innerHTML = "No se han encontrado coincidencias";
    }
  }

  function visualizar() {
    const url = "http://localhost:3000/";
    fetch(`${url}visualizar_api?`, {
      method: 'POST'
    })
      .then(res => res.json()
      )
      .then(response => {
        const peso = response["peso"]
        const results = response["resultados"]

        for (let i = 0; i < peso; i++) {
          let tupla = document.getElementById('table').insertRow(1)
          let col1 = tupla.insertCell(0)
          let col2 = tupla.insertCell(1)
          let col3 = tupla.insertCell(2)
          let col4 = tupla.insertCell(3)
          let col5 = tupla.insertCell(4)

          col1.innerHTML = results[i].id_almacen
          col2.innerHTML = results[i].nombre
          col3.innerHTML = results[i].cantidad
          col4.innerHTML = results[i].precio
          col5.innerHTML = results[i].marca
        }
        //insertar(peso);
      })
      .catch(function (error) {
        alert('Falla en el sistema')
        console.log(error)
      })
  }
  visualizar();
</script>

<body>
  <h1>Buscar en el contenido de una tabla</h1>
  <form>
    Cadena a buscar <input id="searchTerm" type="text" onkeyup="doSearch()" />
  </form>
  <p>

  <div class="table-container">
    <form>
      <table class="table" id="table">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Marcas</th>
        </tr>
        <tr class='noSearch hide'>
          <td colspan="5"></td>
        </tr>
      </table>
    </form>
  </div>
  <a href="/menu">
    <button name="volver" type="button" id="back-menu">REGRESAR A MENU</button>
  </a>
</body>

</html>